<div class="">

  <!--<ul>
    @for(item of _str_contents.contents;track item.parts[0].text){
      <li>{{item.parts[0].text}}</li>
    }
  </ul>-->
  <div class="d-grid gap-2 h-content-msg overflow-y-scroll">
    <div class="d-flex justify-content-center">
      <a href="" class="btn rounded-pill border text-muted">Message precedent</a>
    </div>
    <div class="col">
      <div class="d-flex">
        <img src="assets/images/avatar.png" alt="avatar" class="rounded-circle bg-white bg-opacity-50 border border-2 border-white p-1" width="25px" height="25px">
        <div class="py-2 px-3 bg-white rounded ms-2">
          <div class="">
            <div class="fw-semibold">You</div>
            <p class="fs-7">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, itaque.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="d-flex">
        <img src="assets/images/avatar.png" alt="avatar" class="rounded-circle bg-white bg-opacity-50 border border-2 border-primary p-1" width="25px" height="25px">
        <div class="py-2 px-3 bg-primary text-white rounded ms-2">
          <div class="card-body">
            <div class="fw-semibold">Gemini</div>
            <p class="fs-7">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cupiditate, libero natus perferendis placeat voluptatibus! Alias amet assumenda at doloribus eligendi error quasi quod ratione sed, sequi tempore ut veritatis.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="d-flex">
        <img src="assets/images/avatar.png" alt="avatar" class="rounded-circle bg-white bg-opacity-50 border border-2 border-white p-1" width="25px" height="25px">
        <div class="py-2 px-3 bg-white rounded ms-2">
          <div class="">
            <div class="fw-semibold">You</div>
            <p class="fs-7">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, itaque.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="d-flex">
        <img src="assets/images/avatar.png" alt="avatar" class="rounded-circle bg-white bg-opacity-50 border border-2 border-primary p-1" width="25px" height="25px">
        <div class="py-2 px-3 bg-primary text-white rounded ms-2">
          <div class="card-body">
            <div class="fw-semibold">Gemini</div>
            <p class="fs-7">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cupiditate, libero natus perferendis placeat voluptatibus! Alias amet assumenda at doloribus eligendi error quasi quod ratione sed, sequi tempore ut veritatis.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="d-flex">
        <img src="assets/images/avatar.png" alt="avatar" class="rounded-circle bg-white bg-opacity-50 border border-2 border-white p-1" width="25px" height="25px">
        <div class="py-2 px-3 bg-white rounded ms-2">
          <div class="">
            <div class="fw-semibold">You</div>
            <p class="fs-7">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, itaque.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="d-flex">
        <img src="assets/images/avatar.png" alt="avatar" class="rounded-circle bg-white bg-opacity-50 border border-2 border-primary p-1" width="25px" height="25px">
        <div class="py-2 px-3 bg-primary text-white rounded ms-2">
          <div class="card-body">
            <div class="fw-semibold">Gemini</div>
            <p class="fs-7">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cupiditate, libero natus perferendis placeat voluptatibus! Alias amet assumenda at doloribus eligendi error quasi quod ratione sed, sequi tempore ut veritatis.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="d-flex">
        <img src="assets/images/avatar.png" alt="avatar" class="rounded-circle bg-white bg-opacity-50 border border-2 border-white p-1" width="25px" height="25px">
        <div class="py-2 px-3 bg-white rounded ms-2">
          <div class="">
            <div class="fw-semibold">You</div>
            <p class="fs-7">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, itaque.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="d-flex">
        <img src="assets/images/avatar.png" alt="avatar" class="rounded-circle bg-white bg-opacity-50 border border-2 border-primary p-1" width="25px" height="25px">
        <div class="py-2 px-3 bg-primary text-white rounded ms-2">
          <div class="card-body">
            <div class="fw-semibold">Gemini</div>
            <p class="fs-7">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cupiditate, libero natus perferendis placeat voluptatibus! Alias amet assumenda at doloribus eligendi error quasi quod ratione sed, sequi tempore ut veritatis.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="d-flex">
        <img src="assets/images/avatar.png" alt="avatar" class="rounded-circle bg-white bg-opacity-50 border border-2 border-white p-1" width="25px" height="25px">
        <div class="py-2 px-3 bg-white rounded ms-2">
          <div class="">
            <div class="fw-semibold">You</div>
            <p class="fs-7">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, itaque.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="d-flex">
        <img src="assets/images/avatar.png" alt="avatar" class="rounded-circle bg-white bg-opacity-50 border border-2 border-primary p-1" width="25px" height="25px">
        <div class="py-2 px-3 bg-primary text-white rounded ms-2">
          <div class="card-body">
            <div class="fw-semibold">Gemini</div>
            <p class="fs-7">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cupiditate, libero natus perferendis placeat voluptatibus! Alias amet assumenda at doloribus eligendi error quasi quod ratione sed, sequi tempore ut veritatis.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="d-flex">
        <img src="assets/images/avatar.png" alt="avatar" class="rounded-circle bg-white bg-opacity-50 border border-2 border-white p-1" width="25px" height="25px">
        <div class="py-2 px-3 bg-white rounded ms-2">
          <div class="">
            <div class="fw-semibold">You</div>
            <p class="fs-7">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, itaque.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="d-flex">
        <img src="assets/images/avatar.png" alt="avatar" class="rounded-circle bg-white bg-opacity-50 border border-2 border-primary p-1" width="25px" height="25px">
        <div class="py-2 px-3 bg-primary text-white rounded ms-2">
          <div class="card-body">
            <div class="fw-semibold">Gemini</div>
            <p class="fs-7">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cupiditate, libero natus perferendis placeat voluptatibus! Alias amet assumenda at doloribus eligendi error quasi quod ratione sed, sequi tempore ut veritatis.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <a href="" class="btn rounded-pill border fs-7">Message suivante</a>
    </div>
  </div>


  <form class="mt-4 card rounded-0 position-fixed bottom-0 mb-2 container border-0" [formGroup]="msgForm" (ngSubmit)="onSubmit()">
    <div class="card-body d-flex gap-2">
      <button class="btn text-primary">
        <i class="bi bi-camera-fill"></i>
      </button>
      <button class="btn text-secondary">
        <i class="bi bi-mic"></i>
      </button>
      <div class="position-relative d-flex w-100">
        <i class="bi bi-emoji-smile-fill cursor-pointer text-primary position-absolute end-0 me-2 fs-4"></i>
        <input type="text" formControlName="msg" class="form-control rounded-pill pe-5" placeholder="Votre message...">
      </div>
      <button class="btn btn-light text-primary">
        <i class="bi bi-send-fill"></i>
      </button>
    </div>
  </form>
</div>

