<div class="">

  @if (listMsg.contents.length > 0)
  {
    <!--<ul>
    @for(item of _str_contents.contents;track item.parts[0].text){
      <li>{{item.parts[0].text}}</li>
    }
  </ul>-->
    <div class="d-flex flex-column h-content-msg overflow-y-scroll">
      @if(errorMsg){
        <div class="alert alert-danger alert-dismissible fade show m-1" role="alert">
          Veuillez verifier votre connexion internet!
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      }
      <!--@if(listMsg.length > 1){
        <div class="d-flex justify-content-center">
          <a href="" class="btn rounded-pill border text-muted">Message precedent</a>
        </div>
      }-->
      @for(item of listMsg.contents; track i; let i = $index){
        <div class="col-auto my-1">
          <div class="d-flex">
            <img src="assets/images/avatar.png" alt="avatar" class="rounded-circle bg-white bg-opacity-50 border border-2 border-white p-1" width="25" height="25">
            <div class="py-2 px-3 rounded ms-2" [ngClass]="(item.role == 'user' )? 'bg-primary text-white': 'bg-white text-dark' ">
              <div class="">
                <div class="fw-semibold">{{ item.role }}</div>
                <p class="fs-7">
                  {{ item.parts[0].text }}
                </p>
              </div>
            </div>
          </div>
        </div>
      }
      <!--@if (listMsg.length > 1){
        <div class="d-flex justify-content-center">
          <a href="" class="btn rounded-pill border fs-7">Message suivante</a>
        </div>
      }-->
    </div>
  } @else {
    <div class="d-flex justify-content-center">
        <button (click)="startDiscussion()" class="border px-2 py-1 rounded-pill text-secondary fs-7 bg-white shadow-sm">
          <i class="bi-cursor-fill"></i>
          Cliquer pour démarrer la discussion !
        </button>
    </div>
  }



  <form class="mt-4 card rounded-0 position-fixed bottom-0 mb-2 container border-0" [formGroup]="msgForm" (ngSubmit)="onSubmit()">
    <div class="card-body d-flex gap-2">
      <button class="btn text-primary">
        <i class="bi bi-camera-fill"></i>
      </button>
      <button class="btn text-secondary">
        <i class="bi bi-mic"></i>
      </button>
      <div class="position-relative d-flex w-100">
        <i class="bi bi-emoji-smile-fill cursor-pointer text-primary position-absolute end-0 me-2 fs-4"></i>
        <input type="text" formControlName="msg" class="form-control rounded-pill pe-5" placeholder="Votre message...">
      </div>
      <button type="submit" [disabled]="msgForm.invalid" class="btn btn-light text-primary">
        <i class="bi bi-send-fill"></i>
      </button>
    </div>
  </form>
</div>

