h1{
  font-family: Regular;
}




@media screen and (max-width: 768px) {
  .sm-invisible{
    visibility: hidden;
    position: absolute;
  }
}



//#st::before{
//  content: '';
//  width: 200px;
//  height: 200px;
//  position: absolute;
//  right: 0;
//  bottom: 0;
//  //background: rgba(116, 0, 255, 0.45);
//  //background: #9089fc;
//  background: rgba(255, 128, 181, 0.4);
//  box-shadow: 0 0 50px #ff80b5;
//  //opacity: 5%;
//  border-radius: 100%;
//  z-index: -1;
//}
