<div class="">
  <h3 class="card-title ff-manuscript fw-semibold">Documentations</h3>
  <p class="fs-7 text-secondary">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    A ab accusantium aliquam assumenda autem beatae delectus deserunt doloremque
    dolorum enim et ex facere fugit ipsum iste laudantium libero maiores molestias
    mollitia nesciunt officiis pariatur, quaerat quas quidem quis sint sit,
    suscipit tempora, ullam unde veritatis vero vitae voluptatibus! Quas, quibusdam!
  </p>
  <div class="row row-cols-1 row-cols-lg-2">
    <div class="col">
      <article>
        <h4>Front-End</h4>
        <ul>
          <li>
            <span class="fw-bolder">Framework Angular</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, voluptatibus.</p>
          </li>
          <li>
            <span class="fw-bolder">MVVM</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, voluptatibus.</p>
          </li>
        </ul>
        <ol>
          <span class="fw-bold">Taches</span>
          <li>Architecture MVVM</li>
          <li>Routing and Navigation</li>
          <li>Reactive Forms</li>
          <li>Consuming HTTP Services</li>
          <li>Test Unitaire service</li>
          <li>Animation & Code Review</li>
          <li class="text-decoration-line-through">Authentication and Authorization</li>
          <li>Deployement</li>

        </ol>
      </article>
    </div>
    <div class="col">
      <article>
        <h4>Back-End</h4>
        <ul>
          <li>
            <span class="fw-bolder">Framework Spring Boot</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, voluptatibus.</p>
          </li>
          <li>
            <span class="fw-bolder">MVC</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, voluptatibus.</p>
          </li>
        </ul>
        <ol>
          <span class="fw-bold">Taches</span>
          <li>Architecture MVC</li>
          <li>Configuration BDD</li>
          <li>Creation Model</li>
          <li>Creation Repository</li>
          <li>Creation Controller</li>
          <li>Gestion Erreur</li>
          <li class="text-decoration-line-through">Authentication and Authorization</li>
          <li class="text-decoration-line-through">Deployement</li>

        </ol>
      </article>
    </div>
  </div>
</div>
